spring:
  datasource:
    url: jdbc:mysql://localhost:3306/performance_db
    username: root
    password: root

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

        spring:
          sql:
            init:
              mode: always